<?php
// See https://www.google.com/recaptcha/
// See https://developers.google.com/recaptcha/docs/display
$rcmail_config['recaptcha_public_key'] = '';
$rcmail_config['recaptcha_secret_key'] = '';
$rcmail_config['recaptcha_theme']      = 'dark';

// Set this option to true to have the login button disabled, Until
// the user clicks the checkbox to pass the reCAPTCHA test.
$rcmail_config['auto_disable'] = true;
